*~
*_
*~bak
*-bak
*.bak
bin
build.properties
.checkstyle
.classpath
*cpJar*
dependency-tree.log
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
*.orig
.pmd
.project
*.rej
.settings
target
nashorn_code_cache/
*.tmp
.gradle
local.properties
build
captures
