name: Bot Auto Merge

on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    uses: nuxeo/gh-build-tools/.github/workflows/bot-auto-merge.yml@54ff50f8fbfbcba5fbc4e656fea0ac5adb2f8bc1 # v0.6.1
